.my-stats {
  padding: 10px 50px;

  > * {
    margin-right: 20px;
    margin-left: 20px;
  }

  .spinner {
    position: relative;
    margin-top: 20px;
    height: 45px;

    .caption {
      display: inline-block;
      position: absolute;
      margin-left: 20px;
      height: 45px;
      line-height: 45px;
      font-size: 1.2em;
    }
  }

  .neumarks {
    font-size: 16px;
  }
}
