.progress-bar-container{
  width: 400px;
  position: relative;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.progress-bar-container > .progress-bar-background {
  background: #275263;
  width: 100%;
  border-radius: 20px;
}

.progress-bar-container > .progress-bar-background > .progress-bar-line {
  background: #ffe917;
  display: block;
  height:20px;
  border-radius: 20px;
}

.progress-bar-container > .progress-bar-background > .progress-bar-line > .percentage {
  position: absolute;
  right: 0;
  top: 20px;
  font-weight: lighter;
  font-size: 14px;
  color: #8298a1;
}
